<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/hht_logo.png" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/grid.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/main_style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/welcome_style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/queries.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet">

    <title>Homer Hokie Tailgate</title>
</head>


<body>
    <header>
        <nav class="navbar navbar-main">
            <div class="center-logo">
                <img src="{{ url_for('static', filename='images/hht_logo_flip.png') }}" class="logo" >
            </div>
        </nav>
        <div class="header-text-box">
            <h1>Where the Tailgate Never Ends</h1>
            <p class="header-text">You look forward to getting together with your friends all week long.  There's no reason the dialogue with your friends -- the inside scoop about your players, the predictions about the game, the trash-talking of your rivals -- needs to take time off.
                <br><br> Let the fun happen all week long.</p>
            <div class="center">
                <a class="btn a-btn-full" href="{{ url_for('users.new_user')}}">Sign Up Now!</a>
                <a class="btn a-btn-ghost" href="{{ url_for('users.login_user')}}">Log-In</a>
            </div>
        </div>
    </header>

    <section class="section-features">
        <div class="row">
            <h2>HHT Features</h2>
        </div>
        <div class="row">
            <div class="col span-1-of-3 feature-box">
                <i class="fas fa-trophy icon-big"></i>
                <h3>Compete Against Your Fellow Tailgaters</h3>
                <p>Guess the score of the upcoming games.  Earn bragging rights to show your buddies that you know the team best.</p>
            </div>
            <div class="col span-1-of-3 feature-box">
                <i class="fas fa-utensils icon-big"></i>
                <h3>Tailgate Planner</h3>
                <p>Let your group know whether you plan on showing up and what you plan on bringing. Let's be honest, we've all been to the tailgate with 5 pasta salads.</p>
            </div>
            <div class="col span-1-of-3 feature-box">
                <i class="fas fa-ticket-alt icon-big"></i>
                <h3>Ticket Hub</h3>
                <p>Not attending the game during Thanksgiving week? Make a deal with your friends before heading out to the secondary market.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="row">
            <!---<a href="#">Forgot Password?</a>--->
        </div>
    </footer>

    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/v4-shims.js"></script>
</body>
</html>
