{% extends "base_logged_in.jinja2" %}
{% block content %}

<form method='post'>
    <div class="container">
        <main role="main">
            <div>&nbsp;</div>
            <div class="panel-title text-center">
                <h1>Administer Game Scores</h1>
            </div>
            <div class="row">&nbsp;</div>
            <hr/>
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                        <tr class="row text-center">
                            <th scope="col" class="col-md-2">Name</th>
                            <th scope="col" class="col-md-3">Score</th>
                            <th scope="col" class="col-md-5"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for score in scores %}
                        <tr class="row text-center">
                            <th class="col-md-2">{{ score.user.f_name }}</th>
                            <td class="col-md-3">
                                {% if score.game.home_team.team.school_name == 'Virginia Tech' %}
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">
                                                    <strong>{{ score.game.home_team.team.short_name}}&nbsp;</strong>
                                                </label>
                                                <div class="col-sm-8">

                                                    <input class="form-control" type="text"
                                                           name="home_score{{ score.game.game_num }}"
                                                           value="{{ score.home_score }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">
                                                    <strong>{{ score.game.away_team.team.short_name }}&nbsp;</strong></label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="text"
                                                           name="away_score{{ score.game.game_num }}"
                                                           value="{{ score.away_score }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                {% else %}
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">
                                                    <strong>{{ score.game.away_team.team.short_name}}&nbsp;</strong>
                                                </label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="text"
                                                           name="away_score{{ score.game.game_num }}"
                                                           value="{{ score.away_score }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">
                                                    <strong>{{ score.game.home_team.team.short_name }}&nbsp;</strong></label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="text"
                                                           name="home_score{{ score.game.game_num }}"
                                                           value="{{ score.home_score }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                            </td>
                            <td class="col-md-5">
                                <button type="submit" class='btn btn-hokie'>
                                    <i class="fas fa-save"></i> Save
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</form>

{% endblock %}