{% extends "base_logged_in.jinja2" %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script src="{{ url_for('static', filename='js/dashboard_validator.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<div class="container">
    <form method="post" id="dashboardScores">
        <main role="main">
            <div class="col-12">
                <nav class="nav nav-pills nav-justified">
                    <a class="nav-item nav-link active" href="#">Dashboard</a>
                    <a class="nav-item nav-link"
                       href="{{ url_for('dashboard.get_leaderboard') }}">Leaderboard</a>
                </nav>
            </div>
            <div class="row justify-content-right">
                <div class="mr-auto"></div>
                <div class="col-12">
                    <button class='btn btn-outline-success btn-lg float-right' name='save' type='submit'><i
                            class="fa fa-floppy-o" aria-hidden="true"></i> Save changes
                    </button>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped">
                        <colgroup>
                            <col style="width:10%"/>
                            <col style="width:10%"/>
                            <col style="width:17%"/>
                            <col style="width:23%"/>
                            <col style="width:10%"/>
                            <col style="width:10%"/>
                        </colgroup>
                        <thead>
                        <tr class="text-center">
                            <th>Date</th>
                            <th>Time</th>
                            <th>Opponent</th>
                            <th>Score Prediction</th>
                            <th class="attendance-buttons">Attending?</th>
                            <th class="view-details"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for game in attendance %}
                        <tr>
                            <td class="text-center">{{ game.game.date.strftime('%m-%d-%Y') }}</td>
                            <td class="text-center">
                                {% if game.game.time is none %}
                                TBA
                                {% else %}
                                {{ game.game.time }}
                                {% endif %}
                            </td>
                            <td>
                                {% if game.game.home_team.team.school_name == 'Virginia Tech' %}
                                <strong>vs. </strong><img
                                    src="../static/images/teams/{{ game.game.away_team.team.logo }}"
                                    style="width:30px"/>
                                {{ game.game.away_team.team.school_name }}
                                {% else %}
                                <strong>@ </strong><img
                                    src="../static/images/teams/{{ game.game.home_team.team.logo }}"
                                    style="width:30px"/>
                                {{ game.game.home_team.team.school_name }}
                                {% endif %}
                            </td>
                            {% if game.game.home_team.team.school_name == 'Virginia Tech' %}
                            <td>
                                <div class="form-group row">
                                    <label for="home_score{{ game.game.game_num }}"
                                            class="col-form-label dashboard-label">
                                        {{ game.game.home_team.team.short_name}}&nbsp;
                                    </label>
                                    <input class="form-control dashboard-input" type="text"
                                           name="home_score{{ game.game.game_num }}"
                                           value="{{ game.home_score }}"
                                           maxlength="2"
                                           autocomplete="off"
                                           required
                                           {% if game.game.date <= cutoff %} readonly {% endif %}
                                    >
                                    <label for="away_score{{ game.game.game_num }}"
                                           class="col-form-label dashboard-label">
                                        {{ game.game.away_team.team.short_name }}
                                    </label>
                                    <input class="form-control dashboard-input dashboard-input-oppt" type="text"
                                           name="away_score{{ game.game.game_num }}"
                                           value="{{ game.away_score }}"
                                           maxlength="2"
                                           autocomplete="off"
                                           required
                                           {% if game.game.date <= cutoff %} readonly {% endif %}
                                    >
                                </div>
                            </td>
                            {% else %}
                            <td>
                                <div class="form-group row">
                                    <label for="away_score{{ game.game.game_num }}"
                                           class="col-form-label dashboard-label">
                                        {{ game.game.away_team.team.short_name}}&nbsp;
                                    </label>
                                    <input class="form-control dashboard-input" type="text"
                                           name="away_score{{ game.game.game_num }}"
                                           value="{{ game.away_score }}"
                                           maxlength="2"
                                           autocomplete="off"
                                           required
                                           {% if game.game.date <= cutoff %} readonly {% endif %}
                                    >
                                    <label for="home_score{{ game.game.game_num }}"
                                           class="col-form-label dashboard-label">
                                        {{ game.game.home_team.team.short_name }}
                                    </label>
                                    <input class="form-control dashboard-input dashboard-input-oppt" type="text"
                                           name="home_score{{ game.game.game_num }}"
                                           value="{{ game.home_score }}"
                                           maxlength="2"
                                           autocomplete="off"
                                           required
                                           {% if game.game.date <= cutoff %} readonly {% endif %}
                                    >
                                </div>
                            </td>
                            {% endif %}
                            <td class="attendance-buttons">
                                <div class="btn-group" data-toggle="buttons">
                                    {% if game.attendance == 'Yes' %}
                                    <label class="btn btn-hokie-group active">
                                        <input type='radio' name='attendance{{ game.game.game_num }}' id='yes'
                                               value="Yes"
                                               autocomplete='off'
                                               checked>Yes!
                                    </label>
                                    <label class="btn btn-hokie-group">
                                        <input type="radio" name="attendance{{ game.game.game_num }}" id="maybe"
                                               value="Maybe"
                                               autocomplete="off">Maybe?
                                    </label>
                                    <label class="btn btn-hokie-group">
                                        <input type="radio" name="attendance{{ game.game.game_num }}" id="no"
                                               value="No"
                                               autocomplete="off">No
                                    </label>
                                    {% elif game.attendance == 'Maybe' %}
                                    <label class="btn btn-hokie-group">
                                        <input type='radio' name='attendance{{ game.game.game_num }}' id='yes'
                                               value="Yes"
                                               autocomplete='off'>Yes!
                                    </label>
                                    <label class="btn btn-hokie-group active">
                                        <input type="radio" name="attendance{{ game.game.game_num }}" id="maybe"
                                               value="Maybe"
                                               autocomplete="off" checked>Maybe?
                                    </label>
                                    <label class="btn btn-hokie-group">
                                        <input type="radio" name="attendance{{ game.game.game_num }}" id="no"
                                               value="No"
                                               autocomplete="off">No
                                    </label>
                                    {% else %}
                                    <label class="btn btn-hokie-group">
                                        <input type='radio' name='attendance{{ game.game.game_num }}' id='yes'
                                               value="Yes"
                                               autocomplete='off'>Yes!
                                    </label>
                                    <label class="btn btn-hokie-group">
                                        <input type="radio" name="attendance{{ game.game.game_num }}" id="maybe"
                                               value="Maybe"
                                               autocomplete="off">Maybe?
                                    </label>
                                    <label class="btn btn-hokie-group active">
                                        <input type="radio" name="attendance{{ game.game.game_num }}" id="No"
                                               value="No"
                                               autocomplete="off" checked>No
                                    </label>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="view-details">
                                <a href="{{ url_for('games.detail', game_id=game.game._id, active='summary') }}"
                                   type="button"
                                   class='btn btn-hokie'>View Details <i class="fa fa-info-circle"
                                                                         aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <button class='btn btn-outline-success btn-lg float-right' name='save' type='submit'><i
                    class="fa fa-floppy-o" aria-hidden="true"></i> Save changes
            </button>

        </main>
    </form>
</div>
{% endblock %}
