{% extends "base.html" %}
{% block content %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-left" href="#"><img style="max-width:100px; margin-top: -7px;"
                                             src="{{ url_for('static', filename='images/hht_logo.jpg') }}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <!--	<li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>-->
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <a type="button" href="#" class="form-control mr-sm-2">Sign-In</a>
                <a type="button" href="{{ url_for('users.logout') }}" class="btn btn-outline-danger my-2 my-sm-0">Log
                    Out</a>
            </form>
        </div>
    </nav>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</header>
<div class="container">
    <form method="post">
        <main role="main">
            <div class="panel-title text-center">
                <h1>Dashboard</h1>
            </div>
            <div clas="col">
                    <button class='btn btn-outline-success btn-lg float-right' name='save' type='submit'>Save changes
                    </button>
            </div>
            <div class="col">&nbsp;</div>
            <div>
                <table class="table table-striped">
                    <colgroup>
                        <col style="width:10%"/>
                        <col style="width:10%"/>
                        <col style="width:17%"/>
                        <col style="width:23%"/>
                        <col style="width:10%"/>
                        <col style="width:10%"/>
                    </colgroup>
                    <thead>
                    <tr class="text-center">
                        <th>Date</th>
                        <th>Time</th>
                        <th>Opponent</th>
                        <th>Score Prediction</th>
                        <th>Attending?</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in attendance %}
                    <tr>
                        <td>{{ game.game.date }}</td>
                        <td>
                            {% if game.game.time is none %}
                            TBD
                            {% else %}
                            {{ game.game.time }}
                            {% endif %}
                        </td>
                        <td>
                            {% if game.game.home_team.school_name == 'Virginia Tech' %}
                            <strong>vs. </strong><img src="../static/images/teams/{{ game.game.away_team.logo }}" style="width:30px"/>
                            {{ game.game.away_team.school_name }}
                            {% else %}
                            <strong>@ </strong><img src="../static/images/teams/{{ game.game.home_team.logo }}" style="width:30px"/>
                            {{ game.game.home_team.school_name }}
                            {% endif %}
                            </a>
                        </td>

						{% if game.game.home_team.school_name == 'Virginia Tech' %}
                        <td>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">
                                            <strong>{{ game.game.home_team.short_name}}&nbsp;</strong>
                                        </label>
                                        <div class="col-sm-8">
                                        <input class="form-control" type="text" name="home_score{{ game.game.game_num }}"
                                               value="{{ game.home_score }}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">
                                            <strong>{{ game.game.away_team.short_name }}&nbsp;</strong></label>
                                        <div class="col-sm-8">
                                        <input class="form-control" type="text" name="away_score{{ game.game.game_num }}"
                                               value="{{ game.away_score }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
						{% else %}
                         <td>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">
                                            <strong>{{ game.game.away_team.short_name}}&nbsp;</strong>
                                        </label>
                                        <div class="col-sm-8">
                                        <input class="form-control" type="text" name="away_score{{ game.game.game_num }}"
                                               value="{{ game.away_score }}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">
                                            <strong>{{ game.game.home_team.short_name }}&nbsp;</strong></label>
                                        <div class="col-sm-8">
                                        <input class="form-control" type="text" name="home_score{{ game.game.game_num }}"
                                               value="{{ game.home_score }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>					
						{% endif %}
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                {% if game.attendance == 'Yes' %}
                                <label class="btn btn-hokie-group active">
                                    <input type='radio' name='attendance{{ game.game.game_num }}' id='yes' value="Yes"
                                           autocomplete='off'
                                           checked>Yes!
                                </label>
                                <label class="btn btn-hokie-group">
                                    <input type="radio" name="attendance{{ game.game.game_num }}" id="maybe"
                                           value="Maybe"
                                           autocomplete="off">Maybe?
                                </label>
                                <label class="btn btn-hokie-group">
                                    <input type="radio" name="attendance{{ game.game.game_num }}" id="no" value="No"
                                           autocomplete="off">No
                                </label>
                                {% elif game.attendance == 'Maybe' %}
                                <label class="btn btn-hokie-group">
                                    <input type='radio' name='attendance{{ game.game.game_num }}' id='yes' value="Yes"
                                           autocomplete='off'>Yes!
                                </label>
                                <label class="btn btn-hokie-group active">
                                    <input type="radio" name="attendance{{ game.game.game_num }}" id="maybe"
                                           value="Maybe"
                                           autocomplete="off" checked>Maybe?
                                </label>
                                <label class="btn btn-hokie-group">
                                    <input type="radio" name="attendance{{ game.game.game_num }}" id="no" value="No"
                                           autocomplete="off">No
                                </label>
                                {% else %}
                                <label class="btn btn-hokie-group">
                                    <input type='radio' name='attendance{{ game.game.game_num }}' id='yes' value="Yes"
                                           autocomplete='off'>Yes!
                                </label>
                                <label class="btn btn-hokie-group">
                                    <input type="radio" name="attendance{{ game.game.game_num }}" id="maybe"
                                           value="Maybe"
                                           autocomplete="off">Maybe?
                                </label>
                                <label class="btn btn-hokie-group active">
                                    <input type="radio" name="attendance{{ game.game.game_num }}" id="No" value="No"
                                           autocomplete="off" checked>No
                                </label>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <a href="{{ url_for('games.detail', game_num=game.game.game_num) }}" type="button"
                               class='btn btn-hokie'>View Details >>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <button class='btn btn-outline-success btn-lg float-right' name='save' type='submit'>Save changes</button>

        </main>
    </form>
</div>
{% endblock %}
