{% extends "base_no_nav.jinja2" %}
{% block content %}
<header>
    <nav class="navbar navbar-main">
        <img src="{{ url_for('static', filename='images/hht_logo_flip.png') }}" class="logo">
    </nav>
</header>
<div class="panel-title text-center">
    <h1>Login</h1>
</div>

<div class="main-login main-center">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label class="control-label label-text">Email</label>
            <div class="input-group">
                        <span class="input-group-addon" id="emailsuccess">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                <input type="email" name="email" id="email" class="form-control" aria-describedby="emailsuccess"
                       , placeholder="youremail@domain.com" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label label-text">Password</label>
            <div class="input-group">
                                <span class="input-group-addon" id="pwordsuccess">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                </span>
                <input type="password" name="pword" id="pword" class="form-control"
                       aria-describedby="pwordsuccess" , placeholder="Enter your password" required>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-login">
                Login
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>
        </div>
        <div class="text-center">
            New User? <a href="{{ url_for('users.new_user') }}">Please sign up!</a>
        </div>
        <div class="text-center">
            Forgot your password? <a href="{{ url_for('users.reset_password') }}">Reset here</a>
        </div>
    </form>
</div>
{% endblock %}