{% extends "base_no_nav.jinja2" %}
{% block content %}
<div>
    <div class="container">

        <ul id="breadcrumb">
            <li><a href="{{ url_for('users.new_user') }}">Basic Details</a></li>
            <li><a href="#">Notification Settings</a></li>
            <li><a href="#">Game Attendance</a></li>
        </ul>

        <br>
        <div class="panel-title text-center">
            <h1>Basic Details</h1>
        </div>
        <hr/>
        <div class="main-login main-center">
            <form method="post">
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <div class="input-group">
                                <span class="input-group-addon" id="fnamesuccess">
                                    <img src="{{ url_for('static', filename='images/glyphicons/glyphicons-4-user.png') }}">
                                </span>
                        <input type="text" name="fname" id="fname" class="form-control" aria-describedby="fnamesuccess"
                               , placeholder="First Name" value="{{ user.f_name }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <div class="input-group">
                                <span class="input-group-addon" id="lnamesuccess">
                                    <img src="{{ url_for('static', filename='images/glyphicons/glyphicons-4-user.png') }}">
                                </span>
                        <input type="text" name="lname" id="lname" class="form-control" aria-describedby="lnamesuccess"
                               , placeholder="Last Name" value="{{ user.l_name }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="emailsuccess">
                            <img src="{{ url_for('static', filename='images/glyphicons/glyphicons-11-envelope.png') }}">
                        </span>
                        <input type="email" name="email" id="email" class="form-control" aria-describedby="emailsuccess"
                               , placeholder="youremail@domain.com" value="{{ user.email }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <div class="input-group">
                                <span class="input-group-addon" id="pwordsuccess">
                                    <img src="{{ url_for('static', filename='images/glyphicons/glyphicons-204-lock.png') }}">
                                </span>
                        <input type="password" name="pword" id="pword" class="form-control"
                               aria-describedby="pwordsuccess" , placeholder="Enter your password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    <div class="input-group">
                                <span class="input-group-addon" id="confirmpwordsuccess">
                                    <img src="{{ url_for('static', filename='images/glyphicons/glyphicons-204-lock.png') }}">
                                </span>
                        <input type="password" name="confirmpword" id="confirmpword" class="form-control"
                               aria-describedby="confirmpwordsuccess" , placeholder="Re-enter your password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row justify-content-between">
                        <div class="col-4">
                            <a type="button" class="btn btn-default sr-only"><span
                                    class="glyphicon glyphicon-backward"></span>
                                Previous</a>
                        </div>
                        <div class="col-4">
                            <button type="submit" name="notification_settings" class="btn btn-hokie float-right">Next</button>
                        </div>
                    </div>
                </div>
                {% for a in alerts %}
                <input type="hidden" name="alerts_{{ a }}" value="{{ alerts[a] }}">
                {% endfor %}
                <input type="hidden" name="user_id" value="{{ user._id }}">
                {% for i in attendance %}
                    <input type="hidden" name="attendance{{ i }}" value="{{ attendance[i] }}">
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock %}