{% extends "base.html" %}
{% block content %}

<div class="container">

    <ul id="breadcrumb">
        <li><a href="{{ url_for('users.new_user') }}">Basic Details</a></li>
        <li><a href="#">Notification Settings</a></li>
        <li><a href="#">Game Attendance</a></li>
    </ul>

    <br>
    <div class="panel-title text-center">
        <h1>
            Notification Settings
        </h1>
    </div>
    <hr/>
    <div class="main-login main-center">
        <form role="form" method="post">
            {% for a in alerts %}
			<div class="row center-row">
                <div class="col-9 text-right">
					{{ a_constants[a] }}
                </div>                
				<div class="col-3">
                    <div class=" btn-group" data-toggle="buttons">
						{% if alerts[a] == 'On' %}
							<label class="btn btn-hokie-group btn-sm active">
								<input type="radio" name="alerts_{{ a }}" id="preview_on" value="On" checked> On
							</label>
							<label class="btn btn-hokie-group btn-sm">
								<input type="radio" name="alerts_{{ a }}" value="Off" id="preview_off"> Off
							</label>
							{% else %}
							<label class="btn btn-hokie-group btn-sm">
								<input type="radio" name="alerts_{{ a }}" id="preview_on" value="On"> On
							</label>
							<label class="btn btn-hokie-group btn-sm active">
								<input type="radio" name="alerts_{{ a }}" value="Off" id="preview_off" checked> Off
							</label>
							{% endif %}
                    </div>
                </div>
            </div>
                {% endfor %}
                <button type="submit" name="basic_details" class="btn btn-hokie btn-lg">
                    <!--<span><img src="{{ url_for('static', filename='images/glyphicons/glyphicons-171-step-backward.png') }}"></span>-->
                    Prev
                </button>
                <button type="submit" name="game_attendance" class="btn btn-hokie float-right btn-lg">Next</button>
                <input type="hidden" name="fname" value="{{ user.f_name }}">
                <input type="hidden" name="lname" value="{{ user.l_name }}">
                <input type="hidden" name="email" value="{{ user.email }}">
                <input type="hidden" name="pword" value="{{ user.password }}">
                {% for i in attendance %}
                <input type="hidden" name="attendance{{ i }}" value="{{ attendance[i] }}">
                {% endfor %}

            </form>
        
    </div>
</div>

{% endblock %}
