{% extends "base_no_nav.jinja2" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<header>
    <nav class="navbar navbar-main">
        <img src="{{ url_for('static', filename='images/hht_logo_flip.png') }}" class="logo">
    </nav>
</header>
<div class="panel-title text-center">
    <h1>Reset Password</h1>
</div>

<div class="main-login main-center">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label class="control-label label-text">Enter the email associated with your account</label>
            <div class="input-group">
                        <span class="input-group-addon" id="emailsuccess">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                <input type="email" name="email" id="email" class="form-control" aria-describedby="emailsuccess"
                       , placeholder="youremail@domain.com" required>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-login" name="resetpassword">
                Send Email
                <i class="fa fa-envelope" aria-hidden="true"></i></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}