* {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: 'Raleway', 'Arial', sans-serif; 
    font-weight: 300;
    text-rendering: optimizeLegibility; 
    background-color: #fff;
}

/*---- HEADER -----*/


/*---- FOOTER -----*/
footer {
    background-color: #333;
    height: 150px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

/*---- HEADINGS -----*/

h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center; 
}

h1 {
    margin: 0;
    font-weight: 300;
    color: #fff;
    font-size: 275%;
    word-spacing: 4px;
    margin: 20px 0px;
}

h2 {
    font-size: 200%;
    word-spacing: 2px;
    margin: 10px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #600;
}

h3 {
    font-size: 130%;
    margin-bottom: 15px;
}

.feature-box h3{
    height: 50px;
}

/*---- PARAGRAPHS -----*/
.long-copy {
    line-height: 130%;
    width: 70%;
    margin-left: 15%;
}

.label-text {
    font-size: 110%;
    font-weight: 600;
}

/*----GENERAL BUTTON-----*/
.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background 0.2s, border 0.2s, color 0.2s;
    transition: background 0.2s, border 0.2s, color 0.2s;
}

/*---ANCHOR BUTTONS-----*/
.a-btn-full:link,
.a-btn-full:visited {
    background-color: #f60;
    color: #fff;
    margin-right: 15px;
    border: 1px solid #f60;
}

.a-btn-full:hover,
.a-btn-full:active {
    background-color: #dd5800;
    border: 1px solid #dd5800;
}

.a-btn-ghost:link,
.a-btn-ghost:visited {
    color: #f60;
    border: 1px solid #f60;
}

.a-btn-ghost:hover,
.a-btn-ghost:active {
    background-color: #dd5800;
    border: 1px solid #dd5800;
    color: #fff;
}

.btn-full {
    background-color: #f60;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost {
    background-color: #fff;
    border: 1px solid #dd5800;
    color: #600;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #dd5800;
    border: 1px solid #dd5800;
    color: #fff;
}

.btn-login {
    display: inline-block;
    width: 100%;
    margin: 40px auto;
    padding: 5px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #f60;
    background-color: #f60;
    color: #fff;
    -webkit-transition: background 0.2s, border 0.2s, color 0.2s;
    transition: background 0.2s, border 0.2s, color 0.2s;
}

.btn-login:hover,
.btn-login:active {
    background-color: #dd5800;
    border: 1px solid #dd5800;
}

.btn-outline-orange:hover{
    color:#fff;
    background-color:#ff6600;
    border:#ff6600 1px solid;
}

.btn-orange{
    color:#fff;
    background-color:#ff6600;
    border:#fff 1px solid;
}

.btn-orange:hover{
    color:#660000;
    background-color:#fff;
    border:#fff 1px solid;
}

.btn-hokie{
    background-color:#660000;
    color:#fff;
}

.btn-hokie:hover{
    color:#fff;
    background-color:#FF6600;
    border-color:#6c757d
}

.btn-hokie-group{
    background-color:#888;
    color:#fff;
    border: 1px solid #fff;
    font-size: 95%;
    padding: .25rem .75rem;
}

.btn-hokie-group-sm {
    font-size: .87rem;
}

.btn-hokie-group:hover{
    background-color:#ff6600;
}

btn-hokie.focus,.btn-hokie:focus{
    -webkit-box-shadow:0 0 0 .2rem rgba(134,142,150,.5);
    box-shadow:0 0 0 .2rem rgba(134,142,150,.5)
}

.btn-hokie.disabled,.btn-hokie:disabled{
    background-color:#888;border-color:#888}

.btn-hokie-group:not([disabled]):not(.disabled).active,
.btn-hokie-group:not([disabled]):not(.disabled):active,
.show>.btn-hokie-group.dropdown-toggle{
    color:#fff;
    background-color:#660000;
    border-color:#666e76;
    -webkit-box-shadow:0 0 0 .2rem rgba(255, 102, 0,.3);
    box-shadow:0 0 0 .2rem rgba(255, 102, 0,.3)}


/*---- COMPONENTS -----*/
.center {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.feature-box {
    padding: 0 1%;
}


.btn-left {
    float: left;
}

.btn-right {
    float: right;
}


/*---- ICONS -----*/
.icon-big {
    font-size: 500%;
    display: block;
    color: #600;
    margin: 0 auto 10px auto;
}

/*---- LOGIN -----*/
.main-login,
.main-register,
.main-bottom-buttons {
    background-color: #f3f3f3;
    /* shadows and rounded borders */
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-login {
    max-width: 500px;
    height: 450px;
}

.main-register {
    max-width: 1000px;
    height: 600px;
}

.main-bottom-buttons {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 40px 50px 40px;
}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
    padding: 40px 40px;
}