
/*--- tablets in landscape: from 1024 to 1200px --*/
@media only screen and (max-width: 1200px) {
    .header-text-box {
        position: relative;
        width: 60%;
        top: 20%;
        left: 50%;
    }
     .view-details,
     .attendance-buttons,
     .vt-points,
     .vt-predict,
     .oppt-predict,
     .oppt-points,
     .bonus{
        display: none;
    }
}

/*--- tablets in portrait: from 768 to 1023px --*/
@media only screen and (max-width: 1023px) {
    h1 {font-size: 225%;}

    .logo {
        display: block;
        margin: auto;
        width: 175px;
    }

    .header-text-box {
        margin-top: 50px;
        width: 80%;
    }

     .view-details,
     .attendance-buttons,
     .vt-points,
     .vt-predict,
     .oppt-predict,
     .oppt-points,
     .bonus{
        display: none;
    }
}

/*--- phones up to iPad: from 481 to 767px --*/
@media only screen and (max-width: 767px) {
    h1 {font-size: 200%;}
    h2 {font-size: 175%;}    

     .view-details,
     .attendance-buttons,
     .vt-points,
     .vt-predict,
     .oppt-predict,
     .oppt-points,
     .bonus{
        display: none;
    }

    .logo {
        display: block;
        margin: auto;
        width: 150px;
    }  
    
    .header-text {
        font-size: 100%;
        line-height: 135%;
    }
    
    .col { 
        margin: 10px 0;
        padding: 0 30px;
        width: 100%; }
    
    .main-nav { display: none; }
    
    .btn:link,
    .btn:visited {
        padding: 10px 15px;
        font-size: 85%;
        margin: 10px auto;
    }
}


/*--- Small phones(iPhone 4 & 5): from 0 to 480px --*/
@media only screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }

     .view-details,
     .attendance-buttons,
     .vt-points,
     .vt-predict,
     .oppt-predict,
     .oppt-points,
     .bonus{
        display: none;
    }

    h1 {font-size: 150%;}
    h2 {font-size: 125%;}  
    h3 {font-size: 100%;}
    
    .header-text {
        font-size: 90%;
        line-height: 125%;
    }
    
    .logo {
        margin: auto;
        width: 100px;
        margin-bottom: 25px;
    }
    
    .header-text-box{
        width: 100%;
        padding: 0px 10px;
    }
    
    .feature-box p{
        font-size: 85%;    
    }
    
    .btn:link,
    .btn:visited {
        padding: 10px 15px;  
        margin: 10px auto;
    }
    
}

