/*---- HEADER -----*/

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.7))), url(../images/hokiestone_blur_full.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../images/hokiestone_blur_full.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}

.header-text-box {
    position: relative;
    width: 55%;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.header-text {
    color: #fff;
    margin-bottom: 20px;
    font-size: 125%;
    text-align: center;
}

.section-features {
    border-top: 10px solid #f60;
    border-bottom: 10px solid #f60;
    padding: 20px 0 20px 0;
}

.center-logo {
    margin: 10px auto;
    width: 225px;
}

.logo {
    margin-top: 15%;
    height: 100%;
    width: auto;
}


/*---- PARAGRAPHS -----*/
.long-copy {
    line-height: 130%;
    width: 70%;
    margin-left: 15%;
}

.feature-box p{
    line-height: 145%;
    font-size: 95%;
    text-align: center;
    font-weight: 400;
}


/*---- BUTTONS -----*/
.btn:hover,
.btn:active {
    background-color: #dd5800;
}


/*---- HEADINGS -----*/
h2:after {
    display: block;
    height: 2px;
    background-color: #f60;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

