{% extends "base_no_nav.jinja2" %}
{% block content %}
<header>
    <nav class="navbar navbar-main">
        <img src="{{ url_for('static', filename='images/hht_logo_flip.png') }}" class="logo">
    </nav>
</header>

<br>
<div class="panel-title text-center">
    <h1>Manage Notification Preferences</h1>
</div>
<form method="post" id="notificationSettings">
    <div class="main-register main-center">
        {% for a in alerts %}
        <div class="row center-row">
            <div class="col-9 text-right">
                {{ a_constants[a.alert] }}
            </div>
            <div class="col-3">
                <div class=" btn-group" data-toggle="buttons">
                    {% if a.yes_no == 'On' %}
                    <label class="btn btn-hokie-group btn-sm active">
                        <input type="radio" name="alerts_{{ a._id }}" id="preview_on" value="On" checked> On
                    </label>
                    <label class="btn btn-hokie-group btn-sm">
                        <input type="radio" name="alerts_{{ a._id }}" value="Off" id="preview_off"> Off
                    </label>
                    {% else %}
                    <label class="btn btn-hokie-group btn-sm">
                        <input type="radio" name="alerts_{{ a._id }}" id="preview_on" value="On"> On
                    </label>
                    <label class="btn btn-hokie-group btn-sm active">
                        <input type="radio" name="alerts_{{ a._id }}" value="Off" id="preview_off" checked> Off
                    </label>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class='btn btn-lg btn-full center' name='save' type='submit'><i
                        class="fa fa-floppy-o" aria-hidden="true"></i> Save Preferences
                </button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

</form>

{% endblock %}
