{% extends "base_logged_in.jinja2" %}
{% block content %}
<form method='post'>
    <div class="container">
        <main role="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <a href="{{ url_for('games.admin_schedule') }}" type="button" class="btn btn-primary"><i
                                    class="fas fa-arrow-alt-circle-left"></i> Back
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center page-title">
                            <h1>Edit Game</h1>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6 away-team">
                            <label class="col-form-label" for="home_team"><strong>Away Team</strong></label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="away_team" id="away_team"
                                       value="{{ game.away_team.team.school_name }}" readonly>
                                <span class="input-group-btn">
                                    <a href="#" type="button" class='btn btn-hokie '>Edit <i
                                            class="fas fa-edit"></i> </a>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6 home-team">
                            <label class="col-form-label" for="home_team"><strong>Home Team</strong></label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="home_team" id="home_team"
                                       value="{{ game.home_team.team.school_name }}" readonly>
                                <span class="input-group-btn">
                            <a href="#" type="button" class='btn btn-hokie '>Edit <i class="fas fa-edit"></i> </a>
                        </span>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6 game-location">
                            <label class="col-form-label" for="location"><strong>Location</strong></label>
                            <select class="form-control custom-select" name="location" id="location">
                                {% for l in locations %}
                                <option value="{{ l._id }}"
                                        {% if l._id== game.location._id %}selected{% endif %}>{{ l.city }}, {{ l.state
                                    }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6 game-stadium">
                            <label class="col-form-label" for="stadium"><strong>Stadium</strong></label>
                            <select class="form-control custom-select" name="stadium" id="stadium">
                                {% for s in stadiums %}
                                <option value="{{ s }}" {% if s== game.stadium %}selected{%endif%}>{{ s }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <!--Not going to allow user input as this should be screen scraped-->

                    <!--<div class="form-group col-6">-->
                    <!--<label class="col-form-label" for="date"><strong>Date</strong></label>-->
                    <!--<input type="date" name="date" id="date" class="form-control" value="{{ game.date }}">-->
                    <!--</div>-->
                    <!--<div class="form-group col-6">-->
                    <!--<label class="col-form-label" for="time"><strong>Time</strong></label>-->
                    <!--<input type="text" name="time" id="time" class="form-control" value="{{ game.time }}">-->
                    <!--</div>-->
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6 game-hht-theme">
                            <label class="col-form-label" for="hht_theme"><strong>HHT Theme</strong></label>
                            <input type="text" name="hht_theme" id="hht_theme" class="form-control"
                                   value="{{ game.hht_theme }}">
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <button class='btn btn-outline-success btn-lg float-right' name='save' type='submit'><i
                                    class="fa fa-floppy-o" aria-hidden="true"></i> Save changes
                            </button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</form>

{% endblock %}