{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col"><h1><strong>November 4 @ 8:00 PM</strong></h1></div>
    </div>
    <div class="row text-center">
        <div class="col-lg"><h2></h2></div>
        <div class="col-sm"><h2></h2></div>
        <div class="col-lg"><h2><img src="http://www.hokiesports.com/livelogos/120/2390.png"></h2></div>
    </div>
    <div class="row text-center">
        <div class="col-lg"><h3><strong>VIRGINIA TECH</strong></h3></div>
        <div class="col-sm"><h2></h2></div>
        <div class="col-lg"><h3><strong>MIAMI</strong></h3></div>
    </div>
    <div class="row text-center">
        <div class="col-lg"><h4>Hokies</h4></div>
        <div class="col-sm"><h2>@</h2></div>
        <div class="col-lg"><h4>Hurricanes</h4></div>
    </div>
    <div class="row text-center">
        <div class="col-lg"><h5><strong>Conference:</strong> ACC</h5></div>
        <div class="col-sm"><h2></h2></div>
        <div class="col-lg"><h5><strong>Conference:</strong> ACC</h5></div>
    </div>
    <div class="row text-center">
        <div class="col-lg"><h5><strong>Record:</strong> 8-1</h5></div>
        <div class="col-sm"><h2></h2></div>
        <div class="col-lg"><h5><strong>Record:</strong> 9-0</h5></div>
    </div>
    <div class="row text-center">
        <div class="col"><strong>Orange Effect</strong></div>
    </div>
    <div class="row text-center">
        <div class="col"><strong>Location:</strong> Miami Gardens, FL</div>
    </div>
    <div class="row text-center">
        <div class="col"><strong>Spread:</strong> Virginia Tech by 2.5</div>
    </div>
    <div class="row text-center">
        <div class="col"><strong>TV:</strong> ABC</div>
    </div>
</div>

{% endblock %}