<h1>Reminder to Submit Score for {{ next_game.home_team.team.school_name }} Game</h1>
<br>
<p>The {{ next_game.home_team.team.school_name }} is coming up on {{ next_game.date.strftime("%B %d") | replace(" 0", " ") }} and you will only be able to submit scores until Midnight on {{ deadline.strftime("%B  | replace(" 0", " ") }}</p>
<br>
<p>Please login to <a href='homerhokietailgate.com'>Homer Hokie Tailgate</a> to submit your scores before the deadline.</p>
<p>Surely you don't want zero points for the week!</p>
<br>
<p>Happy Prognosticating!</p>
<br>
<p>Please contact <a href='mailto:pat.hooper83@gmail.com'>support</a> if you need assistance.</p>